.card-ticker {
  width: 500px;

  position: relative;
  background: #1d1d1d;
  border-radius: 20px;
  /* padding: 16px; */
  padding: 0;
  overflow: hidden;


}

.card-menu {
  display: none;
  position: absolute;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.226), rgba(0, 0, 0, 1)); */
  /* background: linear-gradient(0deg, #1064a6 10%, transparent); */
  backdrop-filter: blur(5px);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.card-ticker-body{
  position: absolute;
  padding: 10px;
  bottom: 0;
}
.card-menu span {
  cursor: pointer;
  padding: 20px;
}
.truncate-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card-ticker-title{
  font-size: 20px; 
  font-weight: 600;
}

.card-menu-button-edit{
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #227de6;
}
.card-menu-button-remove {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
}
.card-tricker-poster{
  background: linear-gradient(0deg, #1064a6 10%, transparent);
}