.card-ticker {
  width: 230px;
  position: relative;
  /* height: fit-content; */
  background: #1d1d1d;
  border-radius: 20px;
  padding: 16px;
  align-self: baseline;
}

.card-menu {
  display: none;
  position: absolute;
  background: #253629;
  backdrop-filter: blur(10px);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-menu span {
  cursor: pointer;
  padding: 20px;
}

.card-ticker header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-ticker header h2 {
  margin: 0;
  font-size: 12px;
}

.card-ticker header h2 span {
  font-weight: normal;
  color: #7b7b7b;
}

.card-ticker header h1 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.card-ticker main p {
  font-size: 32px;
  margin: 16px 0 2px 0;
}

.card-ticker main span {
  color: #7b7b7b;
}

.card-ticker main span:nth-child(2) {
  background: #02bb2a;
  padding: 3px 16px;
  margin: 0 8px 0 0;
  border-radius: 12px;
  font-size: 14px;
  color: #fff;
}

.card-ticker footer {
  display: flex;
  justify-content: space-between;
  margin: 26px 0 0 0;
}

.card-ticker footer div:nth-child(2) {
  text-align: right;
}

.card-ticker footer div p {
  margin: 0;
  font-size: 18px;
}

.card-ticker footer div span {
  font-size: 14px;
  color: #7b7b7b;
}
