/* Estilos do Search, que começa na div class = "cover-container"; */
.cover-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.tb {
  display: table;
  width: 100%;
}
.td {
  display: table-cell;
  vertical-align: middle;
}
.input-search {
  color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 96px;
  font-family: "Noto Sans", sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  outline: none;
}
.input-search::placeholder {
  color: #ffffff;
}
#cover {
  left: 0;
  right: 0;
  width: 1000px;
  padding: 35px;
  background-color: #1d1d1d;
  border-radius: 20px;
  box-shadow: 0 10px 40px #696969;
  transform: scale(0.4);
}
#s-cover {
  width: 1px;
  padding-left: 35px;
}
.button-search {
  color: #fff;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}
#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 43px;
  height: 43px;
  margin-top: 0;
  border-width: 15px;
  border: 15px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}
.s-straight {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}
.s-straight:before,
.s-straight:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #fff;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}
#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}
#s-cover:hover .s-straight {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}
#s-cover:hover .s-straight:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}
#s-cover:hover .s-straight:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover .s-straight:before,
#s-cover:hover .s-straight:after {
  right: -6px;
  width: 40px;
  background-color: #fff;
}
